<nav class="navbar navbar-expand-lg p-0 bg-main">
  <div class="container">
    <a class="navbar-brand p-0"
      ><img
        src="assets/400_filter_nobg_615d8ec28788b 1.png"
        alt="logo"
        class="bg-white py-3"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <div
          class="d-flex justify-content-center align-items-center"
          aria-current="page"
        >
          <img class="p-3" src="assets/Rectangle 4.png" alt=" " />
          <p class="text-white fw-semibold" style="font-family: Cairo">
            Galal Montaser
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
